# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [56]:
# Import here.
import pandas as pd
import numpy as np
from glob import glob

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [57]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)
df_food.iloc[0:10]

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
5,2.25,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",4.0,...,1.0,2.0,4,940.0,345,None.,1,2,1315,190
6,3.8,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180
7,3.3,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,1.0,2.0,1,725.0,500,none,4,2,1315,137
8,3.3,1,1,430,NaN,420.0,1,"Donuts, ice cream, chips",Boredom,2.0,...,2.0,2.0,5,725.0,345,none,3,2,760,180
9,3.3,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,1.0,1.0,4,580.0,345,field hockey,5,1,900,125

### Explore the Data

How much data did you just load?

In [58]:
# Count by hand. (lol kidding)
a=df_food.__len__()
a

125

What are the columns and their types in this data set?

In [59]:
# Show the column names and their types.
df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [60]:
# Remove ‘em.
new_data=['calories_day', 'weight', 'Gender']
df_filter=df_food[new_data]
df_filter.insert(0,'Index',df_filter.index)
#df_filter=df_filter.drop(df_filter.columns[-4], axis=1)
df_filter.head()
#Tried my best to name the first column as Index but everytime it creates a copy and name it.

   Index  calories_day                    weight  Gender
0      0           NaN                       187       2
1      1           3.0                       155       1
2      2           4.0  I'm not answering this.        1
3      3           3.0             Not sure, 240       1
4      4           2.0                       190       1

What about `NaN`s? How many are there?

In [61]:
# Count ‘em.
df_food.isna().sum().sum()

149

We gotta remove those `NaN`s―the entire row.

In [62]:
# Drop ‘em.
df_filtered = df_food.dropna()
df_filtered.iloc[0:10]

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
6,3.8,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180
7,3.3,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,1.0,2.0,1,725.0,500,none,4,2,1315,137
9,3.3,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,1.0,1.0,4,580.0,345,field hockey,5,1,900,125
10,3.5,1,1,610,3.0,980.0,2,"Pasta, grandma homemade chocolate cake anythin...",Boredom,2.0,...,1.0,1.0,2,940.0,345,soccer,5,2,900,116
11,3.904,1,1,720,4.0,420.0,2,"chocolate, pasta, soup, chips, popcorn","sadness, stress, cold weather",3.0,...,1.0,1.0,5,940.0,500,Running,5,1,900,110
12,3.4,2,1,430,3.0,420.0,2,"Cookies, popcorn, and chips","Sadness, boredom, late night snack",3.0,...,2.0,1.0,3,940.0,500,Soccer and basketball,3,2,575,264
13,3.6,1,1,610,3.0,420.0,2,"ice cream, cake, chocolate","stress, boredom, special occasions",1.0,...,1.0,1.0,5,1165.0,850,intramural volleyball,5,2,1315,123

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [63]:
# Fix that.
df_food['weight']=pd.to_numeric(df_food['weight'], errors='coerce')
df_mask_numeric=df_food.dropna()
df_mask_numeric.head()
df_mask_numeric=df_mask_numeric.reset_index(drop=True)
df_mask_numeric.iloc[0:10]

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155.0
1,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190.0
2,3.8,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180.0
3,3.3,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,1.0,2.0,1,725.0,500,none,4,2,1315,137.0
4,3.3,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,1.0,1.0,4,580.0,345,field hockey,5,1,900,125.0
5,3.5,1,1,610,3.0,980.0,2,"Pasta, grandma homemade chocolate cake anythin...",Boredom,2.0,...,1.0,1.0,2,940.0,345,soccer,5,2,900,116.0
6,3.904,1,1,720,4.0,420.0,2,"chocolate, pasta, soup, chips, popcorn","sadness, stress, cold weather",3.0,...,1.0,1.0,5,940.0,500,Running,5,1,900,110.0
7,3.4,2,1,430,3.0,420.0,2,"Cookies, popcorn, and chips","Sadness, boredom, late night snack",3.0,...,2.0,1.0,3,940.0,500,Soccer and basketball,3,2,575,264.0
8,3.6,1,1,610,3.0,420.0,2,"ice cream, cake, chocolate","stress, boredom, special occasions",1.0,...,1.0,1.0,5,1165.0,850,intramural volleyball,5,2,1315,123.0
9,3.1,2,1,610,3.0,420.0,2,"Pizza, fruit, spaghetti, chicken and Potatoes","Friends, environment and boredom",2.0,...,1.0,1.0,4,940.0,500,Hockey,5,1,900,185.0

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [64]:
# Savey save!
save_as='Final_csv'
df_mask_numeric.to_csv(save_as, index=False)

In [65]:
ex=pd.read_csv('Final_csv')
ex.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155.0
1,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190.0
2,3.8,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180.0
3,3.3,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,1.0,2.0,1,725.0,500,none,4,2,1315,137.0
4,3.3,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,1.0,1.0,4,580.0,345,field hockey,5,1,900,125.0

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [66]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
Manager_file=pd.read_csv('data/ask_a_manager_salary_survey_2021_(responses)-form_responses_1.tsv', sep="\t")
Manager_file.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

Was that hard? 🙃

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [67]:
# Count by hand. I’m dead serious.
len(Manager_file)

28062

What are the columns and their types?

In [68]:
# Show the column names and their types.

Manager_file.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [69]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
new_col_names=['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed','gender', 'race']
Manager_file.columns= new_col_names
Manager_file.iloc[0:15]

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,USA,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
6,4/27/2021 11:02:51,25-34,Publishing,Publishing Assistant,NaN,"33,000",2000.0,USD,NaN,NaN,USA,South Carolina,Columbia,2 - 4 years,2 - 4 years,College degree,Woman,White
7,4/27/2021 11:03:00,25-34,Education (Primary/Secondary),Librarian,"High school, FT","50,000",NaN,USD,NaN,NaN,United States,Arizona,Yuma,5-7 years,5-7 years,Master's degree,Man,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
9,4/27/2021 11:03:02,35-44,"Accounting, Banking & Finance",Senior Accountant,NaN,"45,000",0.0,USD,NaN,I work for a Charter School,United States,Florida,Palm Coast,21 - 30 years,21 - 30 years,College degree,Woman,"Hispanic, Latino, or Spanish origin, White"
10,4/27/2021 11:03:03,25-34,Nonprofits,Office Manager,NaN,"47,500",0.0,USD,NaN,NaN,United States,NaN,"Boston, MA",5-7 years,5-7 years,College degree,Woman,White
11,4/27/2021 11:03:07,35-44,Education (Higher Education),Deputy Title IX Coordinator/ Assistant Directo...,NaN,"62,000",0.0,USD,NaN,NaN,USA,Pennsylvania,Scranton,11 - 20 years,5-7 years,PhD,Woman,"Hispanic, Latino, or Spanish origin, White"
12,4/27/2021 11:03:09,35-44,"Accounting, Banking & Finance",Manager of Information Services,NaN,"100,000",0.0,USD,NaN,NaN,United States,Michigan,Detroit,11 - 20 years,11 - 20 years,College degree,Man,"Asian or Asian American, White"
13,4/27/2021 11:03:10,25-34,Law,Legal Aid Staff Attorney,non-profit law firm,"52,000",0.0,USD,NaN,NaN,United States,Minnesota,Saint Paul,2 - 4 years,2 - 4 years,NaN,Woman,White
14,4/27/2021 11:03:11,18-24,Health care,Patient care coordinator,NaN,"32,000",NaN,CAD,NaN,NaN,Canada,NaN,Remote,1 year or less,1 year or less,College degree,Woman,White

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [70]:
# List the unique industries and a count of their instances.
industries = Manager_file['industry']
industries.value_counts(dropna=False)

industry
Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1220, dtype: int64

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [71]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
industry_counts = Manager_file['industry'].value_counts()
top_5_industries = industry_counts.head(5).index
df_top_5_industries = Manager_file[Manager_file['industry'].isin(top_5_industries)]
df_salary_tech = df_top_5_industries
df_salary_tech.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,USA,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [89]:
# Sanity Check 
print(top_5_industries)
print(df_salary_tech['industry'].value_counts())

Index(['Computing or Tech', 'Education (Higher Education)', 'Nonprofits',
       'Health care', 'Government and Public Administration'],
      dtype='object', name='industry')
industry
Computing or Tech                       4699
Education (Higher Education)            2464
Nonprofits                              2419
Health care                             1896
Government and Public Administration    1889
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [73]:
# Filtery filter for just the jobs that pay in USD!
filtered_salary= df_salary_tech[df_top_5_industries['currency']=='USD']
filtered_salary.head().reset_index(drop=True)

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
2,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,USA,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
3,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
4,4/27/2021 11:03:03,25-34,Nonprofits,Office Manager,NaN,"47,500",0.0,USD,NaN,NaN,United States,NaN,"Boston, MA",5-7 years,5-7 years,College degree,Woman,White

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [74]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
country_count= filtered_salary['country'].value_counts()
us_cities= filtered_salary[filtered_salary['country']==country_count.index[0]]
city_pay= us_cities['state'].value_counts()
city_pay

state
California                          512
New York                            356
Massachusetts                       313
Illinois                            240
Texas                               233
                                   ...
California, New Jersey                1
Louisiana, Washington                 1
District of Columbia, Washington      1
California, Colorado                  1
California, Maryland                  1
Name: count, Length: 66, dtype: int64

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [90]:
# Replace them all with 'US'.
us_cities['country'] = us_cities['country'].replace(['United States','USA'], 'US')
us_cities.head().reset_index(drop=True)

C:\Users\user\AppData\Local\Temp\ipykernel_6412\192570661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_cities['country'] = us_cities['country'].replace(['United States','USA'], 'US')

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:03:03,25-34,Nonprofits,Office Manager,NaN,"47,500",0.0,USD,NaN,NaN,US,NaN,"Boston, MA",5-7 years,5-7 years,College degree,Woman,White
2,4/27/2021 11:03:23,35-44,Education (Higher Education),Assistant Director of Academic Advising,NaN,"54,000",NaN,USD,NaN,NaN,US,Florida,Boca Raton,11 - 20 years,11 - 20 years,Master's degree,Woman,White
3,4/27/2021 11:03:24,35-44,Nonprofits,Program Coordinator & Assistant Editor,NaN,"50,000",NaN,USD,NaN,NaN,US,NaN,Atlanta,5-7 years,2 - 4 years,PhD,Woman,White
4,4/27/2021 11:03:29,35-44,Government and Public Administration,Researcher,NaN,"96,000",1000.0,USD,NaN,NaN,US,Ohio,Dayton,8 - 10 years,2 - 4 years,PhD,Woman,Asian or Asian American

Have a look at the count of each unique country again now.

In [92]:
# Count again.
us_cities['country'].unique()

['US']

Did you notice anything interesting?

In [93]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.
# List of known variants that should be standardized to 'US'
variants_to_replace = {
    'USA': 'US',
    'United States of America': 'US',
    'U.S.': 'US',
    'U.S.A.': 'US',
    'United States': 'US'
}

# Replace known variants with 'US'
us_cities['country'] = us_cities['country'].replace(variants_to_replace)
# Replace any non-'US' value with 'US'
us_cities['country'] = us_cities['country'].apply(lambda x: 'US' if x not in ['US'] else x)
# Check for missing values
print(us_cities['country'].isnull().sum())
# Fill missing values with 'US'
us_cities['country'].fillna('US', inplace=True)
# Print unique values again to confirm
print(us_cities['country'].unique())

0
['US']

C:\Users\user\AppData\Local\Temp\ipykernel_6412\1726776197.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_cities['country'] = us_cities['country'].replace(variants_to_replace)
C:\Users\user\AppData\Local\Temp\ipykernel_6412\1726776197.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_cities['country'] = us_cities['country'].apply(lambda x: 'US' if x not in ['US'] else x)
C:\Users\user\AppData\Local\Temp\ipykernel_6412\1726776197.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  us_cities['country'].fillna('US', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_6412\1726776197.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_cities['country'].fillna('US', inplace=True)

In [94]:

# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.
us_cities['country'].value_counts()

country
US    4318
Name: count, dtype: int64

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [84]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
us_cities.groupby('state')['salary'].agg(['min','mean', 'max']).sort_values(by='mean', ascending=False)

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [96]:
# Fix it.
us_cities['salary'] = pd.to_numeric(us_cities['salary'], errors='coerce')

C:\Users\user\AppData\Local\Temp\ipykernel_6412\4225415215.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_cities['salary'] = pd.to_numeric(us_cities['salary'], errors='coerce')

Let’s try that again.

In [97]:
# Try it again. Yeah!

us_cities.groupby('state')['salary'].agg(['min','mean', 'max']).sort_values(by='mean', ascending=False)

                                  min           mean        max
state
California, Oregon           200000.0  200000.000000   200000.0
California, Colorado         176000.0  176000.000000   176000.0
Delaware                      54600.0  137300.000000   220000.0
California                        0.0  129744.852113   350000.0
District of Columbia          45000.0  117179.532258  1250000.0
...                               ...            ...        ...
Massachusetts, Rhode Island       NaN            NaN        NaN
North Dakota                      NaN            NaN        NaN
Ohio, Washington                  NaN            NaN        NaN
Texas, Virginia                   NaN            NaN        NaN
Utah, Vermont                     NaN            NaN        NaN

[66 rows x 3 columns]

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [99]:

us_cities['timestamp'] = pd.to_datetime(us_cities['timestamp'], errors='coerce')

filtered_data = us_cities[us_cities['timestamp'].dt.year.isin([2021, 2022, 2023])]

print(filtered_data['salary'].dtype)

if filtered_data['salary'].dtype == 'object':
    filtered_data['salary'] = pd.to_numeric(filtered_data['salary'].str.replace(',', ''), errors='coerce')

filtered_data['salary'].fillna(0, inplace=True)
salary_stats_filtered = filtered_data.groupby('state')['salary'].agg(['min', 'mean', 'max'])

salary_stats_sorted_filtered = salary_stats_filtered.sort_values(by='mean', ascending=False)

print(salary_stats_sorted_filtered)

float64
                                     min      mean       max
state
California, Colorado            176000.0  176000.0  176000.0
Louisiana, Washington           117000.0  117000.0  117000.0
California, Oregon                   0.0  100000.0  200000.0
California, Maryland             81500.0   81500.0   81500.0
Hawaii                               0.0   43615.0  142000.0
...                                  ...       ...       ...
District of Columbia, Virginia       0.0       0.0       0.0
District of Columbia, Maryland       0.0       0.0       0.0
Colorado, Illinois                   0.0       0.0       0.0
California, New Jersey               0.0       0.0       0.0
Massachusetts, Pennsylvania          0.0       0.0       0.0

[66 rows x 3 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_6412\883650844.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_cities['timestamp'] = pd.to_datetime(us_cities['timestamp'], errors='coerce')
C:\Users\user\AppData\Local\Temp\ipykernel_6412\883650844.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filtered_data['salary'].fillna(0, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_6412\883650844.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['salary'].fillna(0, inplace=True)

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

In [103]:
filtered_data_clean = filtered_data.dropna(subset=['state'])
filtered_single_states = filtered_data_clean[filtered_data_clean['state'].str.match(r'^[^,]+$', na=False)]

salary_stats_filtered = filtered_single_states.groupby('state')['salary'].agg(['min', 'mean', 'max'])

salary_stats_sorted_filtered = salary_stats_filtered.sort_values(by='mean', ascending=False)

salary_stats_sorted_filtered

                      min          mean        max
state
Hawaii                0.0  43615.000000   142000.0
Delaware              0.0  39228.571429   220000.0
California            0.0  35983.923828   350000.0
Florida               0.0  31940.829545   645000.0
District of Columbia  0.0  31925.358407  1250000.0
New Jersey            0.0  31848.039216   230000.0
New York              0.0  31227.963483   590000.0
Maine                 0.0  29705.882353   110000.0
Virginia              0.0  29426.673759   220000.0
Montana               0.0  29270.105263   145000.0
Wyoming               0.0  28453.500000    63686.0
Idaho                 0.0  27826.346154   170000.0
Colorado              0.0  26510.141593   165000.0
Massachusetts         0.0  25728.466454   400000.0
Georgia               0.0  25676.720430   270000.0
Oregon                0.0  25208.517007   230000.0
Michigan              0.0  24313.261364   235000.0
Washington            0.0  24170.465217   220000.0
Maryland              0.0  23958.603960   170000.0
Pennsylvania          0.0  23693.005556   237000.0
Connecticut           0.0  23198.750000   230000.0
Tennessee             0.0  22044.938776   220000.0
North Carolina        0.0  21715.237288   125500.0
Missouri              0.0  21499.981818   200000.0
Utah                  0.0  20947.777778   176000.0
Texas                 0.0  20805.227468   170000.0
Illinois              0.0  20098.071429   340000.0
Arizona               0.0  20079.313725   142000.0
Vermont               0.0  19530.000000   120000.0
Oklahoma              0.0  19493.238095   107500.0
Kansas                0.0  19061.185185   164500.0
Arkansas              0.0  18865.454545    77000.0
New Mexico            0.0  18433.333333    82000.0
Wisconsin             0.0  18226.600000   147000.0
Iowa                  0.0  17044.117647   142000.0
Indiana               0.0  16864.716418   143520.0
Ohio                  0.0  16839.137615   179000.0
Nebraska              0.0  16013.333333   140000.0
Nevada                0.0  15338.095238   142000.0
Minnesota             0.0  14639.939850   158000.0
Kentucky              0.0  14621.121212   125000.0
Louisiana             0.0  12726.315789    76800.0
Mississippi           0.0  11250.000000    90000.0
Rhode Island          0.0  10704.545455    76000.0
West Virginia         0.0   8875.000000    71000.0
New Hampshire         0.0   6885.333333    70000.0
Alaska                0.0   5727.272727    63000.0
South Carolina        0.0   2807.823529    47733.0
North Dakota          0.0      0.000000        0.0
Alabama               0.0      0.000000        0.0

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)

In [104]:
filtered_data_clean = filtered_data.dropna(subset=['state'])

filtered_single_states = filtered_data_clean[filtered_data_clean['state'].str.match(r'^[^,]+$', na=False)]
quantiles = [0, 0.05, 0.25, 0.50, 0.75, 0.95, 1.0]

salary_stats_filtered = filtered_single_states.groupby('state')['salary'].quantile(quantiles).unstack()
salary_stats_filtered['count'] = filtered_single_states.groupby('state')['salary'].count()

salary_stats_sorted_filtered = salary_stats_filtered.sort_values(by=0.50, ascending=False)

salary_stats_sorted_filtered

,0.0,0.05,0.25,0.5,0.75,0.95,1.0,count
state,,,,,,,,
Wyoming,0.0,0.0,0.0,25064.0,53517.5,61652.30,63686.0,4
Hawaii,0.0,0.0,0.0,16230.0,59845.0,125569.00,142000.0,4
Pennsylvania,0.0,0.0,0.0,0.0,40500.0,115050.00,237000.0,180
Nevada,0.0,0.0,0.0,0.0,0.0,107100.00,142000.0,21
New Hampshire,0.0,0.0,0.0,0.0,0.0,44296.00,70000.0,15
New Jersey,0.0,0.0,0.0,0.0,57000.0,114500.00,230000.0,51
New Mexico,0.0,0.0,0.0,0.0,36450.0,80600.00,82000.0,15
New York,0.0,0.0,0.0,0.0,45750.0,159750.00,590000.0,356
North Carolina,0.0,0.0,0.0,0.0,39100.0,105474.00,125500.0,118
North Dakota,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8
Ohio,0.0,0.0,0.0,0.0,24000.0,78000.00,179000.0,109
Oklahoma,0.0,0.0,0.0,0.0,37000.0,65000.00,107500.0,21
Oregon,0.0,0.0,0.0,0.0,45380.0,126750.00,230000.0,147
Rhode Island,0.0,0.0,0.0,0.0,0.0,58875.00,76000.0,11
Montana,0.0,0.0,0.0,0.0,50750.0,129700.00,145000.0,19
South Carolina,0.0,0.0,0.0,0.0,0.0,9546.60,47733.0,17
Tennessee,0.0,0.0,0.0,0.0,0.0,103200.00,220000.0,49
Texas,0.0,0.0,0.0,0.0,41241.0,97257.80,170000.0,233
Utah,0.0,0.0,0.0,0.0,0.0,111100.00,176000.0,54
Vermont,0.0,0.0,0.0,0.0,0.0,102750.00,120000.0,13
Virginia,0.0,0.0,0.0,0.0,53000.0,131300.00,220000.0,141
Washington,0.0,0.0,0.0,0.0,0.0,151044.65,220000.0,230
West Virginia,0.0,0.0,0.0,0.0,0.0,46150.00,71000.0,8
Wisconsin,0.0,0.0,0.0,0.0,0.0,112750.00,147000.0,90
Nebraska,0.0,0.0,0.0,0.0,0.0,79600.00,140000.0,21
Alabama,0.0,0.0,0.0,0.0,0.0,0.00,0.0,13
Alaska,0.0,0.0,0.0,0.0,0.0,31500.00,63000.0,11
Mississippi,0.0,0.0,0.0,0.0,0.0,58500.00,90000.0,8
Arizona,0.0,0.0,0.0,0.0,17000.0,111500.00,142000.0,51
Arkansas,0.0,0.0,0.0,0.0,32500.0,71260.00,77000.0,11
California,0.0,0.0,0.0,0.0,57455.5,184500.00,350000.0,512
Colorado,0.0,0.0,0.0,0.0,58000.0,119000.00,165000.0,113
Connecticut,0.0,0.0,0.0,0.0,0.0,110400.00,230000.0,32
Delaware,0.0,0.0,0.0,0.0,27300.0,170380.00,220000.0,7
District of Columbia,0.0,0.0,0.0,0.0,53165.0,135000.00,1250000.0,226
Florida,0.0,0.0,0.0,0.0,46175.0,145200.00,645000.0,88
Georgia,0.0,0.0,0.0,0.0,30000.0,130080.00,270000.0,93
Idaho,0.0,0.0,0.0,0.0,52250.0,93875.00,170000.0,26
Illinois,0.0,0.0,0.0,0.0,0.0,127360.00,340000.0,238
Indiana,0.0,0.0,0.0,0.0,7500.0,84600.00,143520.0,67
Iowa,0.0,0.0,0.0,0.0,0.0,117300.00,142000.0,34
Kansas,0.0,0.0,0.0,0.0,26.0,90240.00,164500.0,27
Kentucky,0.0,0.0,0.0,0.0,0.0,86000.00,125000.0,33
Louisiana,0.0,0.0,0.0,0.0,0.0,75180.00,76800.0,19
Maine,0.0,0.0,0.0,0.0,58500.0,98000.00,110000.0,17
Maryland,0.0,0.0,0.0,0.0,33000.0,130000.00,170000.0,101
Massachusetts,0.0,0.0,0.0,0.0,0.0,140200.00,400000.0,313
Michigan,0.0,0.0,0.0,0.0,49250.0,116658.20,235000.0,88
Minnesota,0.0,0.0,0.0,0.0,0.0,112000.00,158000.0,133
Missouri,0.0,0.0,0.0,0.0,36500.0,102500.00,200000.0,55